---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import { loadReports } from "../../reports.ts";

const reports = await loadReports();
interface Params {
    domain: string;
}
export async function getStaticPaths(): Promise<{ params: Params }[]> {
    const reports = await loadReports();
    return reports.map(({ siteName }) => ({
        params: {
            domain: siteName,
        },
    }));
}

const { domain } = Astro.params;
const report = reports.find((report) => report.siteName === domain);
if (!report) throw new Error(`No matching report found for domain "${domain}"`);
const htmlReport = await report.html();
---

<Layout title={domain}>
    <aside>
        <a href={import.meta.env.BASE_URL}>
            <span>&leftarrow;</span>
            <span>Tilbake til oversikten</span>
        </a>
    </aside>
    <main>
        <Title>Detaljer for {domain}</Title>
        <div class="content">
            <Fragment set:html={htmlReport} />
        </div>
    </main>
</Layout>

<style>
    aside {
        text-align: center;
    }
    aside a {
        color: white;
    }
</style>
